.content {
  line-height: 1.7;
}

.content p {
  margin-bottom: 0.75rem;
}

.colorLegend {
  margin: 0.75rem 0;
  padding: 0;
  list-style: none;
}

.colorLegend li {
  margin-bottom: 0.35rem;
  font-size: 0.95rem;
}

.colorSwatch {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 0.35rem;
}

.swatchYellow {
  background: #f9df6d;
}

.swatchGreen {
  background: #a0c35a;
}

.swatchBlue {
  background: #b0c4ef;
}

.swatchPurple {
  background: #ba81c5;
}
